<div class="kt-main-page page-width" data-section-id="{{ section.id }}">
  <h1 class="kt-main-page__title">{{ page.title }}</h1>
  <div class="kt-main-page__content rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
